---
title: Página inicial
---

<img src="/img/logo-vertical-color.svg" alt="Logo do ICTL - Instituto para Conservação de Tecnologias Livres" width="70%">

O ICTL -- Instituto para Conservação de Tecnologias Livres -- é uma associação
sem fins lucrativos cujo objetivo é promover a divulgação, o desenvolvimento e
a defesa do Software Livre. O ICTL desenvolve ações para o avanço do Software
Livre em geral, e fornece uma estrutura institucional para projetos de Software
Livre, de forma que eles possam receber doações, realizar despesas, e manter
recursos.

## Últimas notícias [![RSS Feed](/img/rss-square-solid.svg)](/feed.xml)

<%= render('/blog_posts.md.erb', article_list: sorted_articles.first(2)) %>
