body {
  font-family: Helvetica, Arial, sans-serif;
}

h1, h2 {
  font-family: sans-serif;
  font-weight: 300;
  color: #333;
  clear: both;
}
h1 { font-size: 3em; }
h2 { font-size: 2em; }
hr { border: none; }
h1, hr { border-bottom: 1px solid #ccccce; }

#menu .pure-menu-heading {
  font-size: 120%;
  color: white;
  background: transparent;
}

#menu img {
  width: 110px;
}

#menu li img {
  width: 18px;
}

#main, #footer {
  margin: auto;
  max-width: 800px;
  padding-left: 20px;
  padding-right: 20px;
}

#main {
  margin-top: 50px;
  padding-bottom: 50px;
}

#footer {
  font-size: 90%;
  color: #aaa;
}

#main a:link, #main a:visited {
  color: #333;
}

#footer a:link, #footer a:visited {
  color: #808080;
}

#sobre #main ul {
   list-style-type: lower-alpha;
}

#projetos #main p {
  margin-left: 140px;
}

#projetos #main h2 + p {
  margin-top: 0px;
  margin-left: 0px;
  float: left;
  margin-right: 12px;
}

#projetos #main img {
  width: 128px;
}

#menu #bottom-list {
  position: absolute;
  bottom: 1px;
  width: 100%;
}
