<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= [@item[:title], @config[:title]].compact.join(" - ") %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/vendor/pure-css/pure.css">
    <link rel="stylesheet" href="/vendor/pure-css/grids-responsive.css">
    <link rel="stylesheet" href="/vendor/pure-layout-side-menu/css/layouts/side-menu.css">
    <link rel="stylesheet" href="/stylesheet.css">

    <link rel="alternate" type="application/rss+xml" title="ICTL: feed de notícias" href="/feed.xml/" />

    <!-- you don't need to keep this, but it's cool for stats! -->
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">

  </head>
  <body id='<%= @item.slug %>'>

    <div id="layout">
      <!-- Menu toggle -->
      <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
      </a>

      <div id="menu">
        <div class="pure-menu">

          <a class="pure-menu-heading" href="/">
            <!-- Logo here: -->
            <img src="/img/icon-flat-white.svg"/>
            <br/>
            <%= @config[:title] %>
          </a>

          <ul class="pure-menu-list">
            <%= render("/menu.#{language}.html.erb") %>
          </ul>
        </div>

        <div class="pure-menu" id="bottom-list">
          <ul class="pure-menu-list">
            <%= render("/languagemenu.#{language}.html.erb") %>
          </ul>
        </div>

      </div>

      <div id="main">
        <%= render('/header.html.erb') %>
        <%= yield %>
      </div>

      <div id='footer'>
        <%= render("/footer.#{language}.html.erb") %>
      </div>
    </div>
    <script type="text/javascript" src="/vendor/pure-layout-side-menu/js/ui.js"></script>
    <script type="text/javascript">
      if(window.location.pathname == '/'){
        var languages = navigator.languages;
        if (languages.indexOf('pt-BR') == -1 && languages.indexOf('pt') == -1) {
          // browser does not support main language
          var here = new URL(document.location.href).host;
          var referrer = (document.referrer != "") && new URL(document.referrer).host || undefined;
          if (referrer != here) {
            window.location.href = '/en/';
          }
        }
      }
    </script>

  </body>
</html>
