<div>
  <a href="/">ICTL</a>
  <% if @item[:kind] == 'article' %>
    » <a href="/blog/">Blog</a>
  <% end %>
  » <u><%= @item[:title] || File.basename(@item.identifier).split('.').first.capitalize %></u>
</div>

<% if @item[:kind] == 'article' %>
  <h1><%= @item[:title] %></h1>
  <div><em><%= Time.parse(@item[:created_at]).strftime('%d/%m/%Y') %></em></div>

<% end %>
